<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration     
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="member.MemberDTO" alias="Member" />

		<typeAlias type="area.AreaDTO" alias="Area" />
		<typeAlias type="area.SelectedAreaDTO" alias="SelectedArea" />
		<typeAlias type="area.AreaInMapBoundDTO"
			alias="AreaInMapBound" />
		<typeAlias type="area.AreaLikeDTO" alias="AreaLike" />
		<typeAlias type="area.AreaNoticeDTO" alias="AreaNotice" />

		<typeAlias type="store.StoreDTO" alias="Store" />

		<typeAlias type="board.BoardDTO" alias="Board" />
		<typeAlias type="board.BoardLikeDTO" alias="BoardLike" />
		<typeAlias type="comment.CommentDTO" alias="Comment" />

		<typeAlias type="industry.IndustryDTO" alias="Industry" />
		<typeAlias type="industry.IndustryRankDTO"
			alias="IndustryRank" />
		<typeAlias type="industry.IndustryRankDTO"
			alias="IndustryRank" />
		<typeAlias type="industry.IndustryRankDTO"
			alias="IndustryRank" />

		<typeAlias type="startupWeather.IndustryCountDTO"
			alias="IndustryCount" />
		<typeAlias type="startupWeather.NewAndFailDTO"
			alias="NewAndFail" />
		<typeAlias type="startupWeather.OperateAvgDTO"
			alias="OperateAvg" />
		<typeAlias type="startupWeather.PopulationDTO"
			alias="Population" />
		<typeAlias type="startupWeather.SalesAvgDTO"
			alias="SalesAvg" />

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="FinalProject" />
				<property name="password" value="1111" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/Member.xml" />
		<mapper resource="mybatis/Area.xml" />
		<mapper resource="mybatis/Industry.xml" />
		<mapper resource="mybatis/Board.xml" />
		<mapper resource="mybatis/Store.xml" />
		<mapper resource="mybatis/Comment.xml" />
		<mapper resource="mybatis/BoardLike.xml" />
		<mapper resource="mybatis/Dashboard.xml" />
		<mapper resource="mybatis/AreaLike.xml" />
		<mapper resource="mybatis/AreaNotice.xml" />
		<mapper resource="mybatis/StartupWeather.xml" />
	</mappers>
</configuration>
