@charset "UTF-8";

/* common property */
:root {
  --main-color: #4d55b2;
  --point-color: #584de4;
}

/* common elements */
	input[type="button"], input[type="submit"], button {padding : 0 15px; border-radius: 15px; font-size: 1.5rem; line-height: 30px; font-weight: 500; transition: 0.3s;}
	.btn-full {width:100%; border-radius:0; font-size:1.4rem; padding:5px 15px;}
	.btn01 {background-color:transparent; border:1px solid var(--main-color); color: var(--main-color);}
	.btn01-ghost{background-color:#f3f4fc; color:var(--main-color);}
	.btn01-reverse{background-color:var(--main-color); color: #fff;}
	.btn01:hover {background-color:var(--main-color); color: #fff; transition: 0.3s;}
	.highlight01 {color:var(--point-color); font-weight:500;}
	.cf:after {content:''; display: block; clear:both;}
	input[type="text"],input[type="password"], input[type="email"],input[type="date"], input[type="file"] {width:100%; height:32px; font-size:1.4rem; line-height:2rem; padding:5px 10px;  transition: 0.3s;}
	textarea {width:100%;  font-size:1.4rem; line-height:2rem; padding:5px 10px;}
	input:focus, select:focus {border:1px solid var(--point-color); color:var(--point-color);}
	select {width:100%; height:32px; font-size:1.4rem; line-height:2rem; padding:5px 20px 5px 10px; background-image:url(../images/ic_arrow.png); background-repeat:no-repeat; background-size:16px; background-position: right 5px center;}
	select:focus {background-image:url(../images/ic_arrow_on.png); }
	.half input, .half select {width:calc(50% - 5px); margin-right:10px;}
	.half input:first-child, .half select:first-child {float:left;}
	.half input:last-child, .half select:last-child {margin-right:0;}
	.third input, .third select {float:left; width:calc(33.3% - 6px); margin-right:9px;}
	.third input:last-child, .third select:last-child {float:none; margin-right:0;}
	.slide-box {width: 100%;}
	.slider {-webkit-appearance: none; width:100%; height: 10px; border-radius:5px; background:#d3d3d3; outline:none; -webkit-transition:.2s; transition:opacity .2s;}
	.slider::-webkit-slider-thumb {-webkit-appearance:none; appearance: none; width:20px; height:20px; border-radius:50%;  background:var(--main-color); cursor:pointer;}
	.slider:focus {border:none;}
	/* table */
	table.tbl, .tbl tr, .tbl td, .tbl th {   border-collapse : collapse; font-size:1.4rem;}
	table.tbl {width:100%; border-top: 2px solid var(--main-color);}
	.tbl th {padding:10px; color : var(--main-color); background-color:#f1f4ff; vertical-align:middle;}
	.tbl tr {background-color:white; border-bottom:1px solid #d2d2d2; vertical-align:middle; text-align:center; transition: 0.3s;}
	.tbl tr:hover {background-color:#f1f4ff; cursor:pointer;}
	.tbl td {padding:10px; vertical-align:middle;}
	/* register table */
	.tbl-reg th {width:200px;}
	.tbl-reg td {text-align:left;}
	.tbl-reg tr:hover {background-color:#fff; cursor:auto;}
	.tbl-reg input {max-width:500px;}
	.tbl-reg textarea {max-width:500px;}
	.tbl-reg select{max-width:500px;}
	.tbl-tit {font-size:1.8rem; font-weight:500; color:var(--main-color); margin-bottom:10px;}
	/* etc */
	.float-r {float: right;}
	.float-l {float:left;}
	.pointer {cursor:pointer;}
	.margin-r {margin-right:10px;}
	.margin-l {margin-left:10px;}
	.hidden {display:none;}
	.label-box {font-size:1.4rem; font-weight:500; margin-bottom:10px;}
	.gray {color:#aaa;}
	/* svg */
	.reg-btn {cursor:pointer;}
	.reg-icon {width:20px; height:20px; fill: none; stroke:#999; stroke-width:3px;}
	.like-btn {float:right; width:70px; cursor:pointer;}
	.like-btn .like-txt {font-size:1.4rem; font-weight:500; text-align:right;}
	.like-btn .like-icon {float:left; width:20px; height:20px;  margin-right:5px;}
	.like-btn.off .like-icon {fill:none; stroke:#999; stroke-width:3px; transition:0.5s;}
	.like-btn.on .like-icon {fill:var(--main-color); stroke:none;}
	.like-btn.off .like-txt {color:#999;}
	.like-btn.on .like-txt {color:var(--main-color);}
	.bookmark {float:right; width:20px; height:20px; margin:4px 0; cursor:pointer;}
	.bookmark.off .bookmark-icon {fill:none; stroke:#999; stroke-width:3px;}
	.bookmark.on .bookmark-icon {fill:#ffd828; stroke:none;}
	

/* common sections */
	/* header */
	.header {position:fixed; width:100%; height:60px; padding:0 20px; background-color:var(--main-color); z-index:200;} /* #2b441e 국방색 */
	.header .logo {float:left; height:calc(100% - 20px); margin:10px 0; cursor:pointer;}
	.header .logo img {height:100%;}
	.header .main-menu {width:420px; height:100%; margin:0 auto;}
	.header .main-menu li {float:left; width:140px; height:100%; padding:10px; line-height:4rem; text-align:center; color:#fff; font-size:1.6rem; cursor:pointer;}
	.header .user-menu {position:absolute; top:0; right:0; width:120px; height:100%;}
	.header .user-menu li {float:left; height:100%; cursor:pointer;}
	.header ul li.on {background-color:rgba(0,0,0,0.3);}
	/* page */
	.page {width:100%; height:calc(100% - 60px); margin-top:60px; overflow:auto; }
	/* popup */
	.pop-container {width:100%; height:100%; position:fixed; top:0; left:0; z-index:300; display: none;}
	.deemed {height:100%; cursor:pointer; background:rgba(0,0,0,0.5);}
	.pop-container .close-btn {position: absolute; top:20px; right: 45px; font-size: 20px; cursor: pointer; color: white;}
	.pop-container .pop-box {position:absolute; top:50%; left:50%; bottom:0; right:0; transform:translate(-50%,-50%); padding: 30px; background-color: #fff; border-radius: 10px; overflow: hidden; transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);}
	.pop-container .pop-box .title-box .tit {font-size:1.8rem; margin-bottom:10px;}
	/* map-popup */
	.map-popup {position:fixed; box-shadow: 0 2px 10px rgba(170, 173, 181, .2); border-right:1px solid #ddd; z-index:120; transition:.5s cubic-bezier(0.6, 0, 0.3, 1);}
	.map-popup .title-box {padding:10px 15px; background-color:#fff;}
	.map-popup .title-box .tit {font-size:1.8rem;}
	.map-popup .title-box .back-btn {float:left; margin: 4px 0; width:20px; height:20px; word-break: break-all; cursor:pointer;}
	.map-popup .title-box .back-btn .back-icon {fill:none; stroke:#333; stroke-width: 3px;}
	.map-popup .title-box .close-btn {float:right; margin: 4px 0; width:20px; height:20px; word-break: break-all; cursor:pointer;}
	.map-popup .title-box .close-btn .close-icon {fill:none; stroke:#333; stroke-width: 3px;}
	/* sub-page */
	.content-body {max-width:1200px; margin:0 auto; padding:40px 20px;}
		/* title box */
		.page-title-box {background-color:var(--main-color); padding:40px 0;}
		.page-title-box .page-name {max-width:1200px; margin:0 auto 15px; padding:0 15px; font-size:3rem; font-weight:800; color:#fff;}
		.page-title-box .page-desc {max-width:1200px; margin:0 auto 15px; padding:0 15px; font-size:1.4rem; color:#fff;}
		/* sub-page : search-lnb */
		.content-body .search-group {display:inline-block; float:left; width:260px; margin-right:20px;}
		.content-body .search-box {padding:15px; border:1px solid #d2d2d2;}
		.content-body .search-box .input-box {margin-bottom:20px;}
		.content-body .search-box .input-box .label-box {margin-bottom:10px; font-weight:500; font-size:2rem;}
		.content-body .search-box .input-box .label-box .value {font-size:1.4rem; color:var(--point-color); float:right; line-height: 2.9rem;}
		.content-body .search-box .input-box input {margin-bottom:10px;}
		.content-body .search-box .input-box input:last-child {margin-bottom:0;}
		.content-body .search-box .input-box .check-box {margin-bottom:5px;}
		.content-body .search-box .input-box .check-box input[type="checkbox"] {margin-right:5px;}
		.content-body .search-box .input-box .check-box label {font-size:1.6rem; cursor:pointer;}



/* main */
.main .map {width:100%; height:calc(100% - 52px); margin-top:52px;}

	/* map-pop search */
	.main .search-group {top:60px; left:0; width:100%; border-bottom:1px solid #ddd; background-color:#fff;}
	.main .search-group .search-box {padding:10px 15px;}
	.main .search-group .search-box .label-box {float:left; margin-right:15px; line-height:3.2rem;}
	.main .search-group .search-box .input-box select {width:150px; margin-right:10px; }
	.main .search-group .search-box .input-box .main { width:70px; float:left;  margin-right:3px; }
	.main .search-group .search-box .input-box .middle { width:70px; float:left;  margin-right:3px; }
	.main .search-group .search-box .input-box .small { width:70px; float:left;   }
	.main .search-group .search-box .input-box select:last-child {margin-right:0px;}


/* dashboard */
.dashboard {top:113px; left:0; width:350px; height:calc(100% - 112px);background-color:#f2f2f2;}
.dashboard .title-box .tit {float:left; width:calc(100% - 40px);}
.dashboard .search-box {padding:15px; margin-bottom:10px; border-bottom:1px solid #eee; background-color:#fff;}
.dashboard .chart-box {height:calc(100% - 192px); border-top:1px solid #eee; overflow:auto; background-color:#fff;}


/* community */
.community {top:113px; left:350px; width:350px; height:calc(100% - 112px);  border-right:1px solid #ddd; background-color:#f2f2f2;}
.community .title-box .tit {float:left; width:calc(100% - 110px);}
.community .title-box .reg-btn {float:right; width:20px; height:20px; margin:4px 0;}
.community .title-box button {float:right; padding:0 12px; line-height:26px; font-size:1.4rem;}
.community .list-box {height:calc(100% - 50px); background-color:#f2f2f2; overflow:auto;}
.community .list-box .post-box {margin-bottom:10px; background-color:#fff;}
.community .list-box .post-box .content-box {padding:15px; border-bottom:1px solid #eee;}
.community .list-box .post-box .content-box .name {font-size: 1.4rem; color: var(--main-color); font-weight: 500;}
.community .list-box .post-box .content-box .content {font-size:1.5rem; margin-bottom:10px;}
.community .list-box .post-box .content-box .content .text {margin-bottom:15px;}
.community .list-box .post-box .content-box .content .photo {height:200px; background-size:cover; background-color:#f3f4fc; background-position:center; background-repeat:no-repeat;}
.community .list-box .post-box .content-box .regdate {float:left; color:#999; font-size:1.4rem;}
.community .list-box .post-box .reply-list-box {padding:15px;}
.community .list-box .post-box .reply-list-box .reply-box {padding:15px; margin-bottom:15px; background-color:#f6f6f7; border-radius:8px;}
.community .list-box .post-box .reply-list-box .reply-box:last-child {margin-bottom:0;}
.community .list-box .post-box .reply-list-box .reply-box .name {color:#999; font-size:1.4rem; font-weight:500;}
.community .list-box .post-box .reply-list-box .reply-box .content {font-size:1.4rem; margin-bottom:10px;}
.community .list-box .post-box .reply-list-box .reply-box .regdate {font-size:1.2rem; color:#999;}
.community .list-box .post-box .reply-reg-box {position: relative; padding:0 15px 15px; }
.community .list-box .post-box .reply-reg-box input {padding-right:30px;}
.community .list-box .post-box .reply-reg-box .reg-btn {position:absolute; top:5px; right:23px;}

	
/* communityReg */
.content-box textarea {margin-bottom:15px; resize: none;}
.content-box .photo-box {margin-bottom:15px;}
.content-box .photo-box div {float:left; width:80px; height:80px; margin-right:10px; background-color:#efefef;}
.content-box .photo-box div:last-child {margin-right:0;}
.content-box .photo-box .thumb {background-size:cover; background-position:center; border:1px solid #eee;}
.content-box .photo-box .btn-photo {background-color:#f3f4fc; background-image:url('../images/ic_camera.png'); background-position:center; background-repeat:no-repeat; background-size: 20px 20px; cursor:pointer;}

/* login */
.login .input-box {margin-bottom:20px;}
.login .input-box input {border:none; border-bottom:1px solid #d2d2d2; padding: 5px;}
.login .input-box input:focus { border-bottom: 1px solid var(--point-color);}
.login input[type=radio] {margin-right:5px;}
.login label {margin-right:15px; font-size:1.4rem;}
.login button {margin: 20px 0;}
.login .join-btn {font-size:1.4rem;}
.login .join-btn .highlight01 {cursor:pointer;}
	
/* mypage */
.my-page {display:none; top:0; right:0; width:350px; height:100%; border-left:1px solid #ddd; background-color:#f2f2f2; z-index:210;}
.my-page ul {margin-bottom: 10px; background-color:#fff;}
.my-page ul li {padding:15px; font-size:1.6rem; font-weight:500; cursor:pointer;}
.my-page ul li:hover {background-color:#f3f4fc; color:#584de4;}

/* push */
.push {display:none; top:0; right:0; width:350px; height:100%; border-left:1px solid #ddd; background-color:#fff; z-index:210;}
.push ul {height:calc(100% - 48px); overflow:auto;}
.push ul li {padding:15px; border-bottom: 1px solid #eaeaea; cursor:pointer;}
.push ul li:hover, .push ul li.readed:hover {background-color:#f3f4fc; color:#584de4;}
.push ul li .msg {font-size:1.5rem; }
.push ul li .regdate {color:#999; font-size:1.4rem;}
li.readed {background-color:#efefef;}
li.readed .msg, li.readed .msg .highlight01 {color:#999;}

/* pwd-modify */
.my-modify {display:none; top:0; right:-350px; width:350px; height:100%; border-left:1px solid #ddd; background-color:#fff; z-index:210;}
.my-modify form {padding: 15px; }
.my-modify input {margin-bottom:15px; height:42px;}
.my-modify button {margin-bottom:15px;}
.my-modify span {font-size:1.4rem; color:#ccc;}

/* my-area 관심지역 */
.my-area {display:none; top:0; right:-350px; width:350px; height:100%; border-left:1px solid #ddd; background-color:#fff; z-index:210;}
.my-area ul {margin-bottom: 10px; background-color:#fff;}
.my-area ul li {padding:15px; font-size:1.6rem; font-weight:500; cursor:pointer;}
.my-area ul li .area {float:left; width:calc(100% - 20px);}
.my-area ul li .delete-btn {font-weight:500; opacity:0%; color:#ff036c; transition:.3s;}
.my-area ul li:hover .delete-btn {opacity:100%; transition:.3s;}


/* startup-keyword */
.content-body .content {float:left; width:calc(100% - 280px);}
.content-body .content .wordcloud {padding:20px calc((100% - 500px)/2); margin-bottom:20px;}
.content-body .content .tbl .bar-graph {height:6px; border-radius:3px; background-color:#eee; }
.content-body .content .tbl .bar-graph div {height:6px; border-radius:3px; background-color:var(--main-color);;}

/* svg map */
.svg-map-box {padding: 20px calc((100% - 600px)/2)}
.svg-map-box .svg-map {fill:#fff ;fill-opacity:1; stroke:#666;}
.svg-map-box .svg-map .area-text {fill:#333; stroke:none; pointer-events:none}
.svg-map-box .svg-map .area-text text {font-size:16px;}




